:root {
    font-size: 10px;
}

body {
    margin: 0;
    overflow-x: hidden;
    height: 230vh;
}

/* Header css*/

.header {
    display: flex;
    background-color: hsl(0, 0%, 100%);
    justify-content: space-around;
    align-items: center;
    font-size: 3rem;
}


.header div img {
    padding-top: 2rem;
}

.header ul li a {
    text-decoration: none;
    color: hsl(192, 70%, 51%);
}

.header ul li a:hover {
    color: hsl(233, 26%, 24%);
}

.header ul li {
    list-style-type: none;
    padding-right: 2em;
}

.header ul {
    display: flex;
    justify-content: space-around;
}

.inv-but {
    border: 0 solid;
    border-radius: 3rem;
    flex-basis: 8%;
    height: 5rem;
    font-size: 2rem;
    background-image: linear-gradient(to bottom right, green, lightblue);
    color: white;
    cursor: pointer;
}

/*main-container css*/

.main-container {
    display: flex;
    flex-direction: column;
}

/*main section css*/

.main {
    background: linear-gradient(to bottom, #fafafa, white);
    z-index: -1;
    display: flex;
    height: 90rem;
}

/*left content*/

.left-content {
    padding-left: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-content .main-con {
    font-weight: 400;
    font-size: 10rem;
}

.left-content .main-p {
    font-size: 3rem;
    padding-top: -10rem;
    color: #ABAAB0;
}

.content-but {
    cursor: pointer;
    width: 35%;
    color: hsl(192, 70%, 51%);
    padding: 1.8rem 1rem;
    border: 0 solid;
    border-radius: 4rem;
    color: white;
    font-size: 2.1rem;
    background-image: linear-gradient(to bottom right, green, lightblue);
}


/* right content */

.main .right-content .image {
    position: absolute;
    right: -40rem;
    top: -16rem;
    z-index: -1;
}

.main .right-content .image img {
    height: 125rem;
    width: 150rem;
}

.phn-image {
    position: absolute;
    right: -18rem;
    top: -5rem;
    z-index: -1;
}

.phn-image img {
    height: 130rem;
    width: 100rem;
}

/*why-eb section*/

.why-eb {
    background-color: hsl(0, 0%, 98%);
    padding-top: -10rem;
    z-index: -2;
}

.why-eb .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3rem;
    padding-left: 20rem;
}

.why-eb h2 {
    padding-top: 15rem;
}

.figures {
    margin: 0;
    display: flex;
    margin-left: -5%;
    justify-content: space-evenly;
    margin-bottom: 5rem;
}

.why-eb p {
    color: #ABAAB0;
}


/*Latest article section*/

.latest h2 {
    font-size: 8rem;
    padding-left: 7.7%;
}

.latest h3 {
    font-size: 3rem;
}

.latest h3:hover {
    color: green;
    cursor: pointer;
}

.latest p {
    font-size: 2.5rem;
}

.latest .figures {
    padding-left: 11.5%;
    padding-right: 10%;
}

.latest .figures figure {
    flex-basis: 45rem;
    border: 0.1 solid;
    display: flex;
    flex-direction: column;
    background-color: rgb(229, 244, 244);
}

.latest .figures figure img {
    border-radius: 1rem;
    width: 100%;
    height: 50%;
}

.latest .figures figure figcaption {
    padding-left: 6rem;
}



/*footer css*/

.footer {
    background-color: hsl(230, 14%, 17%);
    height: 8%;
    display: flex;
    justify-content: space-around;
    font-size: 2.4rem;
}

.div1 {
    display: flex;
    justify-content: space-around;
    width: 30vw;
}

.icons img {
    height: 2rem;
    width: 2rem;
    margin-left: .1%;
}

.half-a ul li a {
    text-decoration: none;
    color: white
}

.half-a ul li {
    list-style-type: none;
}

.icons-image {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.half-a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    line-height: 1.8;
}

.half-a a:hover,
.icons img:hover {
    cursor: pointer;
    color: green;
}

.div2 .copy-rights {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    height: 15vh;
}

.copy-rights .foot-but {
    color: white;
    cursor: pointer;
    width: 70%;
    padding: 2rem 1rem;
    border: 0 solid;
    border-radius: 4rem;
    background-image: linear-gradient(to bottom right, green, lightblue);
    font-size: 2rem;
}


